body {
	background-color: #333;
	color: #ccc;
	font-family: helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size: 14px;
}

html,
body {
	margin: 0;
	padding: 0;
}


#wrapper {
	/* width: 100%; */
}

h1 {
	margin: 25px auto;
	text-align: center;
	width: 600px;
}

#gallery li.loading {
	background: url(../images/spinner.gif) no-repeat center center;
}
p.bf-caption {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0;
	text-align: left;
}