html,
body {
  background: #ddd;
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-size: 14px;
}
h1 {
  color: #444;
  float: left;
  margin: 20px 30px 20px 50px;
  text-shadow: 2px 2px 0px #ccc;
}
#header h2 {
  color: #444;
  float: left;
  font-size: 16px;
  margin: 30px 0 0;
}

a,
a:active,
a:visited {
  color: #cc0000;
  text-decoration: none;
}
a:hover {
  color: #111;
  text-decoration: underline;
}

ul {
  list-style: none;
}

.clearfix {
  height: 1%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#content {
  margin: 50px 0 80px;
  padding: 15px 0;
}

/* image loading background image */

#gallery {
  visibility: hidden;
}
#gallery li.loading {
  background: url(../images/spinner.gif) no-repeat center center;
}


/* image caption */

p.fg-caption {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  text-align: left;
}
